body {
  margin: 0;
  padding: 0;
  background-color: #f7ecd8;
  box-sizing: border-box;
}

h1 {
  color: rgba(247, 235, 213, 0.904);
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2.0rem;
}


.nav-button {
  position: absolute;
  background-color: rgba(247, 235, 213, 0.904);
  display: flex;
  width: 100%;
  flex-direction: column;
}

.hide {
  display: none;
}
.nav-button a{
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.753);
  padding: 8px 10px;
  color: rgba(247, 235, 213, 0.904);
  font-size: 1.6rem;
  border-radius: 2%;
  cursor: pointer;
  margin-top: 1px; 
  margin-bottom: 10px;
  /* z-index: 100; */
  text-align: center;
  border: 1px solid rgba(247, 235, 213, 0.418);
} 


.dropdown-menu-wrapper {
  position: relative;
  display: inline-block;
  margin-top:  10px;
  width: 100%;

}

.fa-bars {
  font-size: 2.0em;
  color: rgba(247, 235, 213, 0.904);
  margin-left: 10px;
  padding-bottom: 5px;
}

 .dropdown-menu-wrapper:hover .nav-button a  {
  display: block;
}  

header {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.753);
  align-items: center;
  justify-content: space-between;
  border-bottom: 10px solid rgba(255, 68, 0, 0.829);
  padding-bottom: 20px;
}

h3 {
  padding-left: 20px;
}

main {
  width: 100%;
  background-color: rgba(247, 235, 213, 0.904);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  border-bottom: 10px solid #8a684e;
}

p {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  line-height: 25px;
  display: inline-block;
}

.objective-text {
  margin-top: -15px;
}

ul {
  margin-top: -10px;
  padding-top: 15px;
  margin-left: 3%;
  display: inline-block;
}

li {
  display: inline-block;
  border: 1px solid rgba(255, 68, 0, 0.329);
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: 20px 20px;
  padding: 1px 10px;
  text-align: center;
  width: 170px;
  color: rgba(247, 235, 213, 0.904);
  margin-left: 1%;
  margin-top: 15px;
}

.contact-me-button {
  border: 1px solid rgba(255, 68, 0, 0.829);
  background-color: rgba(0, 0, 0, 0.753);
  border-radius: 20px 20px;
  padding: 5px 20px;
  text-align: center;
  width: 170px;
  color: rgba(247, 235, 213, 0.904);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  cursor: pointer;
}

.contact-me-button:hover {
  background-color: rgba(162, 64, 37, 0.718);
  color: rgba(0, 0, 0, 0.881);
  width: 176px;
}

.contact-me-button a {
  color: rgba(247, 235, 213, 0.904);
  text-decoration: none;
  font-size: 1.5em;
}

footer {
  background-color: #8a684e93;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 0.9em;
  border-top: 1px solid #f7ecd8;
  padding: 10px;
  overflow: hidden;
}

.fa-envelope,
.fa-phone-alt,
.fa-github {
  color: rgba(0, 0, 0, 0.719);
  margin-left: 9px;
  cursor: pointer;
}

.fa-github {
  font-size: 1.1rem;
}

.footer-text {
  padding-left: 5px;
}

.footer-buttons button {
  background-color: transparent;
  color: rgba(247, 235, 213, 0.904);
  padding: 2px 8px;
  display: inline-block;
  margin-left: 25px;
  font-size: 0.8rem;
  border-radius: 2%;
  cursor: pointer;
  margin-top: 25px;
  border: none;
}

.footer-buttons button:hover {
  text-decoration: none;
  color: rgba(247, 235, 213, 0.904);
  text-decoration: underline;
  font-size: 1rem;
  transition: 1.1s;
}

.footer-buttons a {
  text-decoration: none;
  color: rgba(247, 235, 213, 0.904);
}




/* dropdown menu for larger screen above  */

@media (min-width: 651px){


 .dropdown-menu-wrapper .fa-bars{
    display: none;
  }

  .nav-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    width: 100%;
  }

  .nav-button a {
    display: block;
    font-size: 1.2rem;
    padding: 2px 20px;
    background-color: transparent;
    border: 1px solid rgba(247, 235, 213, 0.418);
  }

  .nav-button a:hover,   .nav-button a:active  {
    text-decoration: underline;
    box-shadow: 1px 1px 1px rgba(255, 68, 0, 0.253);

  } 
    h1{
      padding-top: 40px; 
      width: 2.9rem;
      width: 100%;
    }
    header {
      box-sizing: border-box;
      padding: 10px;
      height: 130px;
      padding-bottom: 140px;

    }
}



/* ========= footer display for wide screen on desktop===== */
@media (min-width: 791px){

	footer{
		height: 230px
	}

  .footer-buttons button:hover {
    text-decoration: none;
    color: rgba(247, 235, 213, 0.904);
    text-decoration: underline;
    font-size: 1.4rem;
    transition: 1.1s;
  }

	.footer-buttons button {
		margin-top: 45px;
		font-size: 1.3rem;
		padding: 3px 15px;
	  }

	  .fa-envelope, .fa-phone-alt, .fa-github {
		color: rgba(0, 0, 0, 0.719);
		margin-left: 9px;
		cursor: pointer;
		font-size: 1.4em;
	}


}